.post {
    display: flex;
    /* flex-wrap: wrap; */
    border: 2px solid rgba(255, 255, 255, 0.26);
    margin: 6px 0;
    background-color: rgba(0, 0, 0, 0.356);
}

.post>* {
    padding: 5px;
}

.post .avatar img {
    height: 50px;
    border-radius: 50%;
}

.post .postData {
    width: 100%;
}

.post .postData .postMeta {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.post .postData .postMeta .author {
    font-weight: 700;
}


.post .postContent {
    text-align: left;
    padding: 5px;
}

.post .postData .likes {
    text-align: right;
}


.post:hover {
    background-color: rgba(255, 255, 255, 0.137);
    cursor: pointer;
}

.post .postData .postMeta .author:hover {
    text-decoration: underline;
}

.deleteConfirmation {
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid rgba(255, 255, 255, 0.26);
    color: white;
}

.deleteConfirmation .yes {
    background-color: green;
    border: 2px solid rgba(0, 0, 0, 0.589);
}

.deleteConfirmation .yes:hover {
    color: rgba(0, 0, 0, 0.774);
}

.deleteConfirmation .no {
    background-color: red;
    border: 2px solid rgba(0, 0, 0, 0.589);
}

.deleteConfirmation .no:hover {
    color: rgba(0, 0, 0, 0.774);
}

.dislike {
    text-decoration: rgb(194, 55, 0) 3px line-through wavy;
}

.post .likes button {
    height: 45px;
}