.App {
  text-align: center;
  color: white;
}

.App-logo {
  max-height: 100px;
}

a {
  color: rgb(255, 255, 255);
}

.btn {
  background-color: rgba(0, 128, 128, 0.384);
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.226);
  text-transform: uppercase;
  font-weight: 700;

  color: rgba(255, 255, 255, 0.767);
  margin-top: 10px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.651);
  color: teal;
  border: 2px solid teal;
}